.massage {
  position: absolute;
  color: lightgreen;
  background-color: lightseagreen;
  border: 1px solid green;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.container {
  position: relative;
}
